<template>
    <div>
        <div class="border-b pb-4 mb-8">
            <comment class="mb-4"
                v-for="comment in comments"
                :key="comment.id"
                :comment="comment"
                :now="now"
                @respond-to="respondTo = $event"
            ></comment>
            <div v-if="nextPage" class="flex justify-center">
                <button class="text-grey-darker text-sm" @click="fetchComments(nextPage)">
                    charger les {{ numberOfComments - comments.length }} commentaires suivants…
                </button>
            </div>
        </div>
        <comment-form
            :respond-to="respondTo"
            @newComment="newComment"
            @cancel-respond-to="respondTo = null"
        ></comment-form>
    </div>
</template>
<script>
    import CommentForm from './CommentForm.vue'
    import Comment from './Comment.vue'

    export default {
        components: { CommentForm, Comment },
        data() {
            return {
                comments: [],
                respondTo: null,
                nextPage: null,
                numberOfComments: 0,
                now: new Date(),
            }
        },
        mounted() {
            setInterval(() => {
                this.now = new Date()
            }, 1000)

            this.fetchComments('/comments/' + btoa(window.location.href))
        },
        methods: {
            fetchComments(url) {
                axios.get(url)
                    .then(({data: pagination}) => {
                        console.log(pagination)
                        this.comments = this.comments.concat(pagination.data)
                        this.nextPage = pagination.next_page_url
                        this.numberOfComments = pagination.total
                    })
            },

            newComment(comment) {
                if (! this.respondTo) {
                    this.comments.push(comment)
                    return
                }

                this.respondTo.children.push(comment)
            }
        },
    }
</script>
